.advantages {
    height: 900px;
    width: 1920px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.advantages>.conteiner {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.advantages>.conteiner>div {
    position: relative;
    margin-top: 20px;
    width: 567.62px;
    height: 251.1px;
    flex-basis: 45%;
    border: solid #B0BDD1 1px;
    border-radius: 1%;
    box-shadow: 1px 1px 2px #B0BDD1;
    transition: var(--transition-one);
    background-size: cover;
}

.feedback>.arr1:hover,
.feedback>.arr2:hover,
.fdb>div:hover, 
.service>div:hover,
.cont_models>div:hover,
.flex_cont>div:hover,
.advantages>.conteiner>div:hover {
    border: solid var(--second-color) 1px;
    transform: var(--transform-scale);
}

.advantages>.conteiner>div:nth-child(2n+1)>.text {
    position: absolute;
    height: 251.1px;
    width: 567.62px;
    z-index: 1;
}

.advantages>.conteiner>div:nth-child(2n)>.text {
    position: absolute;
    height: 251.1px;
    width: 567.62px;
    z-index: 1;
}

.advantages>.conteiner>div>.text>div {
    font-size: 1.125rem;
    font-weight: 400;
    width: 350px;
    margin-top: 135px;
    margin-left: 100px;    
}

.advantages>.conteiner>div>.text>div>i {
    margin-right: 5px;
}

